SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_FUNCTIONS_BASE_URL=
EXPO_PUBLIC_CLOUDFLARE_GATEWAY_URL=
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_DISABLE_LEGACY_EDGE_READS=true
EXPO_PUBLIC_RELEASE_CHANNEL=development
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_EAS_PROJECT_ID=c7565eaa-d013-430f-9576-217c4beefa3f
EXPO_PUBLIC_EXPO_PROJECT_ID=c7565eaa-d013-430f-9576-217c4beefa3f
EXPO_PUBLIC_EXPO_OWNER=cayanns-team
EXPO_PUBLIC_EXPO_SLUG=universe
EXPO_PUBLIC_UPDATES_URL=https://u.expo.dev/c7565eaa-d013-430f-9576-217c4beefa3f
EXPO_IOS_GOOGLE_SERVICES_FILE=
EXPO_ANDROID_GOOGLE_SERVICES_FILE=
EAS_ASC_API_KEY_PATH=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
MEDIA_SCAN_WEBHOOK_URL=
MEDIA_SCAN_WEBHOOK_TOKEN=
MEDIA_SCAN_TIMEOUT_MS=12000
